In [7]:
import pandas as pd

# Your input dictionary
input_dict = {'(\'mqtt_consumer\', None)': [
    {'time': '2024-02-04T14:19:38.857254Z', 'status': 's1', 'topic': 'status/ball/insp/A01', 'yyyy': 2024.0},
    {'time': '2024-02-04T14:19:28.846503Z', 'status': 's1', 'topic': 'status/ball/insp/A01', 'yyyy': 2024.0}
]}

# Extracting the values from the dictionary
values_list = list(input_dict.values())[0]

# Creating a DataFrame
df = pd.DataFrame(values_list)

# Displaying the DataFrame
print(df)

                          time status                 topic    yyyy
0  2024-02-04T14:19:38.857254Z     s1  status/ball/insp/A01  2024.0
1  2024-02-04T14:19:28.846503Z     s1  status/ball/insp/A01  2024.0

In [8]:
import pandas as pd

# Your nested list
nested_list = [
    [
        {'time': '2024-02-04T14:40:29.748629Z', 'status': 's1', 'topic': 'status/ball/insp/A01', 'yyyy': 2024.0},
        {'time': '2024-02-04T14:40:19.737786Z', 'status': 's1', 'topic': 'status/ball/insp/A01', 'yyyy': 2024.0}
    ]
]

# Flatten the nested list
flat_list = [item for sublist in nested_list for item in sublist]

# Create a DataFrame
df = pd.DataFrame(flat_list)

# Display the DataFrame
print(df)

                          time status                 topic    yyyy
0  2024-02-04T14:40:29.748629Z     s1  status/ball/insp/A01  2024.0
1  2024-02-04T14:40:19.737786Z     s1  status/ball/insp/A01  2024.0

In [9]:
import pandas as pd

# Assuming you have a DataFrame df with three columns 'col1', 'col2', 'col3'
df = pd.DataFrame({
    'col1': ['A', 'B', 'C'],
    'col2': [1, 2, 3],
    'col3': ['X', 'Y', 'Z']
})

# Combine the three columns with "-"
df['combined'] = df['col1'] + '-' + df['col2'].astype(str) + '-' + df['col3']

# Display the modified DataFrame
print(df)

  col1  col2 col3 combined
0    A     1    X    A-1-X
1    B     2    Y    B-2-Y
2    C     3    Z    C-3-Z

In [10]:
import pandas as pd
import pymssql
from sqlalchemy import create_engine,text,engine
# Connection parameters
server = '192.168.1.66'
database = 'ballDB'
username = 'sa'
password = 'sa$admin'


# SQL Query with TOP 10

engine = create_engine(f'mssql+pymssql://{username}:{password}@{server}/{database}')

# SQL Query with TOP 10 using SQLAlchemy text()
sql_query = text('SELECT TOP 5 * FROM [ballDB].[dbo].[DATA_PRODUCTION_INSP] ORDER BY registered_at  desc')

df = pd.read_sql(sql_query, engine)

# Display the DataFrame
print(df)

            registered_at mc_no process  data1  data2  data3
0 2024-02-05 21:01:01.837   A01    insp  777.0   22.0   33.0
1 2024-02-05 21:01:01.837   A02    insp  888.0   22.0   33.0
2 2024-02-05 21:00:30.363   A01    insp  777.0   22.0   33.0
3 2024-02-05 21:00:30.363   A02    insp  888.0   22.0   33.0
4 2024-02-05 20:59:06.607   A01    insp  777.0   22.0   33.0

In [11]:
import pandas as pd

# Create two example DataFrames
df1 = pd.DataFrame({
    'ID': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35]
})

df2 = pd.DataFrame({
    'ID': [1, 2, 3],
    'Name': ['Alice', 'Robert', 'Charlie'],
    'Age': [25, 30, 35]
})

# Compare the two DataFrames
df_diff = df1.compare(df2)

# Display the differences
print(df_diff)

  Name
  self   other
1  Bob  Robert

In [12]:
import pandas as pd

# Create an example DataFrame
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': ['a', 'b', 'c'],
    'C': [4.0, 5.0, 6.0]
})

# Display the original DataFrame
print("Original DataFrame:")
print(df)

# Swap columns 'B' and 'C'
df['B'], df['C'] = df['C'], df['B']

# Display the DataFrame after swapping
print("\nDataFrame after swapping columns:")
print(df)

Original DataFrame:
   A  B    C
0  1  a  4.0
1  2  b  5.0
2  3  c  6.0

DataFrame after swapping columns:
   A    B  C
0  1  4.0  a
1  2  5.0  b
2  3  6.0  c

In [13]:
import pandas as pd

# Create an example DataFrame
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
})

# Columns to swap
column1 = 'A'
column3 = 'C'
print(df)
# Swap the values in columns 1 and 3
df[column1], df[column3] = df[column3].copy(), df[column1].copy()

# Display the DataFrame with swapped values
print(df)

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9
   A  B  C
0  7  4  1
1  8  5  2
2  9  6  3

In [14]:
import pandas as pd

# Create an example DataFrame
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
})

# Move the first column to the last
df = df[df.columns[1:].tolist() + [df.columns[0]]]

# Display the DataFrame with the first column moved to the last
print(df)

   B  C  A
0  4  7  1
1  5  8  2
2  6  9  3

In [15]:
import pandas as pd

# Create an example DataFrame
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9],
    'D': [10, 11, 12]
})

# Get the column names
columns = df.columns.tolist()

# Define the new order of columns
new_order = [columns[0], columns[2], columns[1], columns[3]]

# Reorder the DataFrame columns
df = df[new_order]

# Display the DataFrame with the second column moved to the fourth and the third column to the second
print(df)

   A  C  B   D
0  1  7  4  10
1  2  8  5  11
2  3  9  6  12

In [47]:
import pandas as pd

# Create two sample DataFrames
insert_db = {'occurred': ['2025-01-14 11:12:13','2025-02-14 11:12:13', '2025-03-14 11:12:13'],
         'mc_no': ['A06', 'A02', 'A03'],
         'mc_status': ['run', 'run', 'run']}
df1 = pd.DataFrame(insert_db)

query_db = {'occurred': ['2025-01-14 11:12:13','2025-02-14 11:12:13', '2025-03-14 11:12:13'],
         'mc_no': ['A01', 'A02', 'A03'],
         'mc_status': ['run', 'run', 'run']}
df2 = pd.DataFrame(query_db)

# Merge the DataFrames based on specific columns
merged_df = pd.merge(df2, df1, on=['occurred', 'mc_no','mc_status'], how='right', indicator = True)
merged_df = merged_df[merged_df['_merge']=='right_only'].drop(columns=['_merge'])
print(merged_df)

              occurred mc_no mc_status
0  2025-01-14 11:12:13   A06       run